.header{
  border: 1px solid black;
  padding: 25px 50px 75px 100px;
  background-color: lightblue;
  font-stretch: expanded;
}

body.bg {
  background-image: linear-gradient(to right top, #00ff0b, #73fa22, #9ff538, #bdf14f, #d3ec66, #d5ec6c, #d6eb71, #d8eb77, #c9ef6d, #b6f366, #9ff761, #81fb5f);
}

img {
  height: 50%;
  width: 50%;
  padding: 50px;
  float: left;
}

.para {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: crimson;
}